@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Ubuntu:wght@700&display=swap");

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #263238;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
}

/*===================*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-start: 2;
  margin: 0px auto;
  align-items: center;
}

.pattern {
  height: 100px;
  background-color: #faf9fa;
  width: 100%;
}
.bot {
  border-radius: 0px 75px 0px 0px;
}
.top {
  justify-self: end;
  border-radius: 0px 0px 0px 75px;
}
footer {
  grid-row-start: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header {
  grid-row-start: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  margin: 10px 0px 0px 20px;
  width: 40vw;
}

/*===================*/

.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.dynamic-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* DYNAMIC */

.greetings,
.name,
.bio {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: inline;
  transition: 0.2s all ease;
}

.greetings.done {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.name.done {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0px 28px 0px;
}
.bio.done {
  display: inline;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.social {
  opacity: 0;
}
.icons {
  width: 42px;
  float: left;
  margin: 40px 20px 0px 0px;
  filter: grayscale(100%);
  transition: 0.1s filter linear, 0.3s -webkit-filter linear;
  transition: 0.1s opacity linear;
}

.icons:hover {
  opacity: 1;
  filter: grayscale(0%);
}
.appear {
  animation: appear 1s 0.5s ease forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.img {
  display: flex;
  justify-content: center; /* horizontal align */
  align-items: center; /* vertical align */
  width: 100%;
  min-width: 300px;
}

#bubble {
  animation: popup 2s ease infinite;
}
#bubble:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: ease 0.5s opacity;
}

.disable {
  pointer-events: none;
}
.cursor {
  display: inline;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 0.4s infinite;
}

.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

@keyframes popup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
  }
  .dynamic-content {
    align-items: initial;
  }
  .hero {
    margin-top: -60px;
    align-items: start;
    height: auto;
  }
  .greetings.done {
    font-size: 64px;
  }
  .logo {
    margin: 20px 0px 0px 20px;
    width: 25vw;
  }
}

/* .screen:hover {
  cursor: pointer;
  transition: ease 0.5s all;
  transform: scale(1.1) translate(-9%, -5%);
  opacity: 0.8;
}
.showed {
  display: block;
  animation: slide ease-out 0.5s forwards;
}
@keyframes slide {
  0% {
    opacity: 0.5;
    width: 1vw;
    height: 100vh;
  }
  100% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
}
.overlay {
  background-color: #263238;
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  z-index: 99;
}

.projects {
  background-color: #ccc;
  margin: 0px 10%;
}

.project-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  justify-items: center;
  width: 100%;
  background-color: aqua;
}

.project-detail > .preview {
  width: 420px;
  height: 280px;
  background-color: aquamarine;
  border-radius: 8%;
}

.project-detail > .technologies {
}

.project-detail .tech {
  width: 42px;
  float: left;
  margin-right: 10px;
} */
